src/main/resources/integrations/opene/opene.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. -->
<!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is JAX-WS RI 2.3.1 svn-revision#6ef5f7eb9a938dbc4562f25f8fa0b67cc4ff2dbb. -->
<definitions xmlns:tns="http://www.oeplatform.org/version/1.0/schemas/integration/callback"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  targetNamespace="http://www.oeplatform.org/version/1.0/schemas/integration/callback">
	<types>
		<xsd:schema>
			<xsd:import namespace="http://www.oeplatform.org/version/1.0/schemas/integration/callback"
			  schemaLocation="./opene.xsd" />
		</xsd:schema>
	</types>
	<message name="confirmDelivery">
		<part name="parameters" element="tns:confirmDelivery" />
	</message>
	<message name="confirmDeliveryResponse">
		<part name="parameters" element="tns:confirmDeliveryResponse" />
	</message>
	<message name="AccessDeniedException">
		<part name="fault" element="tns:AccessDeniedFault" />
	</message>
	<message name="FlowInstanceNotFoundException">
		<part name="fault" element="tns:FlowInstanceNotFoundFault" />
	</message>
	<message name="deleteInstance">
		<part name="parameters" element="tns:deleteInstance" />
	</message>
	<message name="deleteInstanceResponse">
		<part name="parameters" element="tns:deleteInstanceResponse" />
	</message>
	<message name="getManagers">
		<part name="parameters" element="tns:getManagersRequest" />
	</message>
	<message name="getManagersResponse">
		<part name="parameters" element="tns:getManagersResponse" />
	</message>
	<message name="addInternalMessage">
		<part name="parameters" element="tns:addInternalMessage" />
	</message>
	<message name="addInternalMessageResponse">
		<part name="parameters" element="tns:addInternalMessageResponse" />
	</message>
	<message name="setManagers">
		<part name="parameters" element="tns:setManagers" />
	</message>
	<message name="setManagersResponse">
		<part name="parameters" element="tns:setManagersResponse" />
	</message>
	<message name="addMessage">
		<part name="parameters" element="tns:addMessage" />
	</message>
	<message name="addMessageResponse">
		<part name="parameters" element="tns:addMessageResponse" />
	</message>
	<message name="addEvent">
		<part name="parameters" element="tns:addEvent" />
	</message>
	<message name="addEventResponse">
		<part name="parameters" element="tns:addEventResponse" />
	</message>
	<message name="setAttribute">
		<part name="parameters" element="tns:setAttribute" />
	</message>
	<message name="setAttributeResponse">
		<part name="parameters" element="tns:setAttributeResponse" />
	</message>
	<message name="setStatus">
		<part name="parameters" element="tns:setStatus" />
	</message>
	<message name="setStatusResponse">
		<part name="parameters" element="tns:setStatusResponse" />
	</message>
	<message name="StatusNotFoundException">
		<part name="fault" element="tns:StatusNotFoundFault" />
	</message>
	<portType name="IntegrationCallback">
		<operation name="confirmDelivery">
			<input xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"
			  ns1:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/confirmDeliveryRequest"
			  message="tns:confirmDelivery" />
			<output xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"
			  ns2:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/confirmDeliveryResponse"
			  message="tns:confirmDeliveryResponse" />
			<fault xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns3:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/confirmDelivery/Fault/AccessDeniedException" />
			<fault xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata" message="tns:FlowInstanceNotFoundException"
			  name="FlowInstanceNotFoundException"
			  ns4:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/confirmDelivery/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="deleteInstance">
			<input xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"
			  ns5:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/deleteInstanceRequest"
			  message="tns:deleteInstance" />
			<output xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"
			  ns6:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/deleteInstanceResponse"
			  message="tns:deleteInstanceResponse" />
			<fault xmlns:ns7="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns7:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/deleteInstance/Fault/AccessDeniedException" />
			<fault xmlns:ns8="http://www.w3.org/2007/05/addressing/metadata" message="tns:FlowInstanceNotFoundException"
			  name="FlowInstanceNotFoundException"
			  ns8:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/deleteInstance/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="getManagers">
			<input xmlns:ns9="http://www.w3.org/2007/05/addressing/metadata"
			  ns9:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/getManagersRequest"
			  message="tns:getManagers" />
			<output xmlns:ns10="http://www.w3.org/2007/05/addressing/metadata"
			  ns10:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/getManagersResponse"
			  message="tns:getManagersResponse" />
			<fault xmlns:ns11="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns11:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/getManagers/Fault/AccessDeniedException" />
			<fault xmlns:ns12="http://www.w3.org/2007/05/addressing/metadata"
			  message="tns:FlowInstanceNotFoundException" name="FlowInstanceNotFoundException"
			  ns12:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/getManagers/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="addInternalMessage">
			<input xmlns:ns13="http://www.w3.org/2007/05/addressing/metadata"
			  ns13:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addInternalMessageRequest"
			  message="tns:addInternalMessage" />
			<output xmlns:ns14="http://www.w3.org/2007/05/addressing/metadata"
			  ns14:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addInternalMessageResponse"
			  message="tns:addInternalMessageResponse" />
			<fault xmlns:ns15="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns15:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addInternalMessage/Fault/AccessDeniedException" />
			<fault xmlns:ns16="http://www.w3.org/2007/05/addressing/metadata"
			  message="tns:FlowInstanceNotFoundException" name="FlowInstanceNotFoundException"
			  ns16:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addInternalMessage/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="setManagers">
			<input xmlns:ns17="http://www.w3.org/2007/05/addressing/metadata"
			  ns17:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setManagersRequest"
			  message="tns:setManagers" />
			<output xmlns:ns18="http://www.w3.org/2007/05/addressing/metadata"
			  ns18:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setManagersResponse"
			  message="tns:setManagersResponse" />
			<fault xmlns:ns19="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns19:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setManagers/Fault/AccessDeniedException" />
			<fault xmlns:ns20="http://www.w3.org/2007/05/addressing/metadata"
			  message="tns:FlowInstanceNotFoundException" name="FlowInstanceNotFoundException"
			  ns20:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setManagers/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="addMessage">
			<input xmlns:ns21="http://www.w3.org/2007/05/addressing/metadata"
			  ns21:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addMessageRequest"
			  message="tns:addMessage" />
			<output xmlns:ns22="http://www.w3.org/2007/05/addressing/metadata"
			  ns22:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addMessageResponse"
			  message="tns:addMessageResponse" />
			<fault xmlns:ns23="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns23:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addMessage/Fault/AccessDeniedException" />
			<fault xmlns:ns24="http://www.w3.org/2007/05/addressing/metadata"
			  message="tns:FlowInstanceNotFoundException" name="FlowInstanceNotFoundException"
			  ns24:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addMessage/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="addEvent">
			<input xmlns:ns25="http://www.w3.org/2007/05/addressing/metadata"
			  ns25:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addEventRequest"
			  message="tns:addEvent" />
			<output xmlns:ns26="http://www.w3.org/2007/05/addressing/metadata"
			  ns26:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addEventResponse"
			  message="tns:addEventResponse" />
			<fault xmlns:ns27="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns27:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addEvent/Fault/AccessDeniedException" />
			<fault xmlns:ns28="http://www.w3.org/2007/05/addressing/metadata"
			  message="tns:FlowInstanceNotFoundException" name="FlowInstanceNotFoundException"
			  ns28:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/addEvent/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="setAttribute">
			<input xmlns:ns29="http://www.w3.org/2007/05/addressing/metadata"
			  ns29:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setAttributeRequest"
			  message="tns:setAttribute" />
			<output xmlns:ns30="http://www.w3.org/2007/05/addressing/metadata"
			  ns30:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setAttributeResponse"
			  message="tns:setAttributeResponse" />
			<fault xmlns:ns31="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns31:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setAttribute/Fault/AccessDeniedException" />
			<fault xmlns:ns32="http://www.w3.org/2007/05/addressing/metadata"
			  message="tns:FlowInstanceNotFoundException" name="FlowInstanceNotFoundException"
			  ns32:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setAttribute/Fault/FlowInstanceNotFoundException" />
		</operation>
		<operation name="setStatus">
			<input xmlns:ns33="http://www.w3.org/2007/05/addressing/metadata"
			  ns33:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setStatusRequest"
			  message="tns:setStatus" />
			<output xmlns:ns34="http://www.w3.org/2007/05/addressing/metadata"
			  ns34:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setStatusResponse"
			  message="tns:setStatusResponse" />
			<fault xmlns:ns35="http://www.w3.org/2007/05/addressing/metadata" message="tns:AccessDeniedException"
			  name="AccessDeniedException"
			  ns35:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setStatus/Fault/AccessDeniedException" />
			<fault xmlns:ns36="http://www.w3.org/2007/05/addressing/metadata"
			  message="tns:FlowInstanceNotFoundException" name="FlowInstanceNotFoundException"
			  ns36:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setStatus/Fault/FlowInstanceNotFoundException" />
			<fault xmlns:ns37="http://www.w3.org/2007/05/addressing/metadata" message="tns:StatusNotFoundException"
			  name="StatusNotFoundException"
			  ns37:Action="http://www.oeplatform.org/version/1.0/schemas/integration/callback/IntegrationCallback/setStatus/Fault/StatusNotFoundException" />
		</operation>
	</portType>
</definitions>
